---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Used SCSS files
@import"foundation";
@import"flickity";
@import"modaal";

@font-face {
  font-family: 'Open Sans';
  src: url("{{site.baseurl }}/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: 'Open Sans';
  src: url("{{site.baseurl }}/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: 'Open Sans';
  src: url("{{site.baseurl }}/fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600; }
@font-face {
  font-family: 'Open Sans';
  src: url("{{site.baseurl }}/fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: 'Open Sans';
  src: url("{{site.baseurl }}/fonts/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800; }

$base-font-family: 'Open Sans', sans-serif;
$small-font-size:   14px;
$medium-font-size:   20px;
$large-font-size:   22px;
$xlarge-font-size:   26px;
$giant-font-size: 40px;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;
$spacing-unit:     30px;

$footer-color: rgb(49, 67, 97); //rhino
$blue-color: #2F6BC1; // denim
$white-color:       #fff;
$black-color: #000;
$grey-color:       #697783; // pale sky
$grey-color-ultralight: #EDF1F1; // athens gray
$grey-color-light: #95A5A5; // pewter
$grey-color-dark:  #33495D; //pickled bluewood
$jobs-color: #FF7979; //fade-red
$jobs-secondary-color: darken($jobs-color, 5%);

$apostrophe-left: url("{{site.baseurl }}/images/apostrophe-l.svg");
$apostrophe-right: url("{{site.baseurl }}/images/apostrophe-r.svg");
$sample-background-image: url("{{site.baseurl }}/images/sample.jpg");

// Width of the content area
$content-width:    800px;
$on-palm:          639px; //default is 600
$on-tablet:          1050px; // added
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"modules"
;
