<section class="fullpage">  </section>

<section class="banner-section">
  <div class="row content">
    <div class="small-12 medium-6 large-6 columns">
      <h1>Need Cash?</h1>
      <h2>There is an app for that!</h2>
      <h3 class="show-for-medium">Withdraw money using your smartphone, thanks to iBeacon technology.</h3>
    </div>
    <div class="small-6 columns end hide-for-medium">
    <h3>Withdraw money using your smartphone, thanks to iBeacon technology.</h3>
    </div>
    <div class="small-6 medium-6 large-6 columns end">
      <img src="{{site.baseurl }}/images/iphone.png" alt="RESERVED">
    </div>
  </div>
</section>

<section class="fullpage">  </section>
