<section class="circles-section">
  <div class="row">
    <div class="large-12 large-centered columns heading-content">
      <h1>"VALENSAS" - Creative Performance</h1>
      <h2>
        Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus.
      </h2>
    </div>
  </div>
  <div class="column row circles">
        {% for circle in site.data.circles %}
        <div class="small-12 medium-4 large-4 columns end">
          <div class="photo"><img src="{{site.baseurl }}/images/{{ circle.img }}" alt=""></div>
          <div class="info">
            <div class="title">{{circle.title}}</div>
            <div>{{circle.description}}</div>
            <div class="read-more"><a href="{{site.baseurl }}/{{circle.page}}">Read More</a></div>
          </div>
        </div>
        {% endfor %}
  </div>
</section>
