<div  class="row expanded jobs" style="cursor: pointer;" onclick="window.location='{{site.baseurl }}/contact.html';">
Let’s Work Together
</div>
<footer class="footer">
  <div class="row">
    <div class="small-10 small-offset-2 medium-8 medium-offset-2 large-6 large-offset-0 columns end">
        <a class="" href="{{site.baseurl }}/" ><img src="{{site.baseurl }}/images/valensas_white.png" alt=""></a>
        <h6 class="lead"><b>3,500,000+ users registered since 2008 </b></h6>
        <h6 class="lead">We’ve created the product that will help your life to look even better.</h6>
    </div>
    <div class="small-3 small-offset-2 medium-3 medium-offset-2 large-2 large-offset-0 columns">
      <h6>About</h6>
      <ul>
        <li>
            <a href="#">History</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Team</a>
        </li>
      </ul>
    </div>
    <div class="small-3 medium-3 large-2 columns">
      <h6>Follow Us</h6>
      <ul>
        <li>
          <a href="#">Facebook</a>
      </li>
      <li>
          <a href="#">Twitter</a>
      </li>
      <li>
          <a href="#">Instagram</a>
        </li>
      </ul>
    </div>
    <div class="small-3 medium-3 end large-2 columns end">
      <h6>Follow Us</h6>
      <ul>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
