<div class="row expanded jobs">
  <a class="" href="{{site.baseurl }}/" >Let’s Work Together</a>
</div>
<footer class="footer">
  <div class="row">
    <div class="large-6 medium-12 small-8 small-centered large-uncentered columns" style="text-align:center;">
      <div>
        <a class="" href="{{site.baseurl }}/" ><img src="../../images/valensas_white.png" alt=""></a>
      </div>
      <div class="row">
        <p class="lead"><b>3,500,000+ users registered since 2008 </b></p>
        <p class="lead">We’ve created the product that will help your life to look even better.</p>
      </div>
    </div>
    <div class="small-4 small-offset-0 medium-3 medium-offset-2 large-2 large-offset-0 columns">
      <h6>About</h6>
      <ul>
        <li>
            <a href="#">History</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">Team</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">Awards</a>
        </li>
      </ul>
    </div>
    <div class="small-4 medium-3 large-2 columns">
      <h6>Follow Us</h6>
      <ul>
        <li>
          <a href="#">Facebook</a>
      </li>
      <li>
          <a href="#">Twitter</a>
      </li>
      <li>
          <a href="#">Instagram</a>
        </li>
      </ul>
    </div>
    <div class="small-4 medium-3 end large-2 columns">
      <h6>Follow Us</h6>
      <ul>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">Twitter</a>
        </li>
        <li>
          <a href="#">Instagram</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
