<header style="background-color:#fff;">
  <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <div class="title-bar-title">
      <a href="{{site.baseurl }}/" ><img src="../../images/valensas.png" style="height:20px;" alt=""></a>
    </div>
    <button class="menu-icon dark" type="button" data-toggle></button>
  </div>
  <div class="column row" style="vertical-align: middle;">
    <div class="large-6 medium-3 columns hide-for-small-only">
      <a href="{{site.baseurl }}/" ><img src="../../images/valensas.png" alt=""></a>
    </div>
    <div class="large-6 medium-9 small-12 columns top-bar" id="example-menu" style="display: block; background-color:#fff;">
      <div class="top-bar-right">
        <ul class="dropdown menu" style="background-color:#fff;" data-dropdown-menu>
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</header>
