<header class="sticky-navigation">
  <!-- Responsive Top Bar with logo and hamburger-menu-->
  <div class="title-bar hide-for-medium">
    <div class="title-bar-left">
      <a href="{{site.baseurl }}/" ><img src="{{site.baseurl }}/images/valensas-logo-small.svg" class="header-logo-small"  alt=""></a>
    </div>
    <div class="title-bar-right">
      <button class="menu-icon dark" type="button" id="hidereveal"></button>
    </div>
  </div>
  <!-- Custom hamburger menu  -->
  <div id="custom-hamburger" class="hamburger-menu hide-for-medium line">
    <div class="column row">
      <div class="large-12 columns">
        <ul class="menu vertical">
          {% for my_page in site.pages %}
            {% if my_page.title %}
              <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
              <div class="line"></div>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <!-- Menu for medium and large screens-->
  <div class="show-for-medium">
    <div class="column row top-bar-custom-container">
      <div class="large-4 medium-4 columns transparent">
        <a href="{{site.baseurl }}/" ><img src="{{site.baseurl }}/images/valensas-logo.svg" class="header-logo-large" alt="Valensas"></a>
      </div>
      <div class="large-8 medium-8 small-12 columns top-bar end">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            {% for my_page in site.pages %}
            {% if my_page.title %}
              {% if page.title == my_page.title %}
                <li><a href="{{my_page.url}}" class="active">{{my_page.title}}</a></li>
              {% else %}
                <li><a href="{{my_page.url}}">{{my_page.title}}</a></li>
              {% endif %}
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
