<div class="expanded row hide-for-small-only">
  <div class="large-12 columns">
    <div id="mycrawler2" style="height:300px; width:100%" class="productswesupport">
      <img src="../images/customer_logos.png" height="300">
      <!-- {% for product in site.data.products %}
      <img src="../images/{{ product.img }}">
      {% endfor %} -->
    </div>
  </div>
</div>

<div class="expanded row show-for-small-only">
  <div class="large-12 columns">
      <img src="../images/customer_logos.png">
  </div>
</div>
