<section class ="portfolio-section">
  <div class="row expanded hide-for-small-only">
    <div class="portfolio-slider">
      <ul>
        <li>
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
        </li>
        <li>
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
        </li>
        <li>
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
          <img src="{{site.baseurl }}/images/logo-placeholder.svg">
        </li>
      </ul>
    </div>
  </div>

  <!-- {% for product in site.data.products %}
  <img src="../images/{{ product.img }}">
  {% endfor %} -->

  <div class="expanded row show-for-small-only">
    <div class="large-12 columns">
        <img src="{{site.baseurl }}/images/customer-logos.png">
    </div>
  </div>
</section>
