<section class="projects-section">
  <div class="row small-up-1 medium-up-2 large-up-3 small-uncollapse">
    {% for project in site.documents %}
    <div class="column">
      <div>
        <a class="animated" href="{{ site.baseurl }}{{project.permalink}}"><img src="{{ site.baseurl }}/images/{{project.thumbnail}}" alt=""></a>
      </div>
      <div>
        <h3>{{project.title}}</h3>
        <div class="ellipsis-text">{{project.content}}<a class='more' href='{{site.baseurl }}{{project.permalink}}'>More</a></div>
      </div>
    </div>
  {% endfor %}
  </div>
</section>
