<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script src="{{site.baseurl }}/js/foundation.min.js" type="text/javascript" ></script>

<script>
jQuery(document).on("mobileinit", function() {
    jQuery.mobile.autoInitializePage = false;
});
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>

<script>
  $(document).foundation();
</script>

<script>
$('#hidereveal').click(function() {
     $('#custom-hamburger').slideToggle('slow');
});
</script>

<script src="{{site.baseurl }}/js/flickity.pkgd.min.js" type="text/javascript" ></script>
<script src="{{site.baseurl }}/js/modaal.min.js" type="text/javascript" ></script>
<script src="{{site.baseurl }}/js/jquery.dotdotdot.min.js" type="text/javascript"></script>

<script>
$('#gallery').flickity({
  // options
  // cellAlign: 'left',
  // contain: true
});
</script>

<script>
$('.galleryy').modaal({
  type: 'image',
  background: '#111',
  height: 400,
  overlay_opacity: 0.5,
  background_scroll: false,
  animation: 'fade',
  animation_speed: 300
});
</script>

<script>
$(document).ready(function() {
    $("div.ellipsis-text").dotdotdot({
        after: 'a.more',
        callback: dotdotdotCallback
    });

    function dotdotdotCallback(isTruncated, originalContent) {
        if (!isTruncated) {
         $("a", this).remove();
        }
    }
});
</script>

<script>
// With the element initially hidden, we can show it slowly:
$( document).ready(function() {
$( ".animated" ).fadeIn( "slow", function() {
  // Animation complete
});
});
</script>
