<script src="{{site.baseurl }}/js/jquery.visible.js" type="text/javascript"></script>
<script>
$(window).scroll(function(event) {
  if ($('.slide-right').length) {
    $(".slide-right").each(function(i, el) {
      var el = $(el);
      if (el.visible(true)) {
        el.addClass("slideRight");
      }
    });
  }

  if ($('.slide-left').length) {
    $(".slide-left").each(function(i, el) {
      var el = $(el);
      if (el.visible(true)) {
        el.addClass("slideLeft");
      }
    });
  }

  if ($('.slide-right').length) {
    $(".slide-right").each(function(i, el) {
      var el = $(el);
      if (el.visible(true)) {
        el.addClass("slideRight");
      }
    });
  }

  if ($('.slide-up').length) {
    $(".slide-up").each(function(i, el) {
      var el = $(el);
      if (el.visible(true)) {
        el.addClass("slideUp");
      }
    });
  }
});
</script>
