<section class="services-section">
  <div class="row">
    <div class="large-12 large-centered columns heading-content">
      <h1>VALENSAS</h1>
      <h2>
        Mobile for Digital Enterprise
      </h2>
    </div>
  </div>
  <div class="column row services appear-delay">
        {% for circle in site.data.services %}
        <div class="small-12 medium-4 large-4 columns end">
          <div class="photo"><img src="{{site.baseurl }}/images/services/{{ circle.img }}" alt=""></div>
          <div class="info">
            <div class="titlebox">
              <h3>{{circle.title}}</h3>
            </div>
            <p>{{circle.description}}</p>
            <!-- <div class="read-more"><a href="{{site.baseurl }}/{{circle.permalink}}">Read More</a></div> -->
          </div>
        </div>
        {% endfor %}
  </div>
</section>
