h1,h2,h3,h4,h5,h6,a,ul,li {
  font-family: $base-font-family;
}

body{
  background-color: $white-color;
}

h3 {
  font-size: $large-font-size;
  color: $grey-color-dark;
}

h6 {
  font-size: $medium-font-size;
  color: $grey-color-dark;
}

p {
    font-size: $small-font-size;
    color: $grey-color-light;
}

// Fullpage for adjusting top-bar

.fullpage {
  margin-top: 60px;
}
/*full width container*/
@media (max-width: 767px) {
  .fullpage {
      margin-left:auto;
      margin-right:auto;
  }
}

// Top Bar

.top-bar-custom-container {
  overflow: hidden;
  > div, ul, li {
    background-color: transparent;
  }
}

.header-logo-large {
  margin-top: -20px;
  height:100px;
  content: $logo-header;
}

.header-logo-small {
  margin-top: -8px;
  height:60px;
  content: $logo-header;
}

.sticky-navigation {
  background: $white-color;
  height:60px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top:0;

  > .title-bar {
    height:60px;
  }
}

.sticky-navigation::before, .sticky-navigation::after {
  content: ' ';
  display: table; }

.sticky-navigation::after {
  clear: both;
}

.hamburger-menu  {
  display: none;
  top:60px;
  text-align: right;
  position: fixed;
  z-index: 9999;
  max-height:420px;
  width: 100%;
  // right: -1.2em;
  background-color:rgba(255,255,255, 0.9);
  a{
    color:$grey-color-dark;
  }

  a:hover{
    color:$blue-color;
  }

  .hr-line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(red($blue-color), green($blue-color), blue($blue-color), 0.2);
    padding: 0;
  }
}

.title-bar{
  background: $white-color;
  .menu-icon {
    color: #DEDEDE;
    float: right;
    vertical-align: bottom;
    height:32px;
  }

  .menu-icon.dark::after{
    left:auto;
    top: auto;
  }
  .title-bar-title {
    float:left;
  }
}

.dropdown{
  text-align: right;
  display: block;
  a{
    font-size: 18px;
    color:$grey-color-light;
  }
}

@media (max-width: 1128px) {
  .dropdown {
    text-align:center;
    display: block;
    a{
      font-size: $small-font-size;
    }
  }
}

// Carousel

.carousel-section {
  background-repeat: no-repeat;
  max-height: 550px;
}

.gallery-cell {

  width: 100%;
  max-height: 550px;
  margin-right: 10px;

  .carousel-content {
    overflow: hidden;
    width: 100%;
    position: absolute;
    // top: 0%;
    transform: translateY(30%);
    // left: 0%;
    // transform: translate(-50%, 0%);
    text-align: right;
    font-size: $large-font-size;
    color: $white-color;

    @include media-query($on-laptop) {
        max-height: 400px;
    }
  }

  .carousel-background {
    width:100%;
    background-size: cover;
  }

  @include media-query($on-palm) {
    max-height: 440px;
    .carousel-content {
      text-align: center;
      transform: translateY(5%);
    }
  }

  h1 {
    font-size: $giant-font-size;
    position: relative;
    color:$white-color;
    font-weight: 600;
    // padding-bottom: 1em;
  }

  h3 {
    font-size: $large-font-size;
    color:$white-color;
    overflow:visible;
    max-height: 300px;
    // padding-bottom: 2em;
  }
}


.navbar {
  // display:inline-grid;
  // vertical-align: middle;
  .table-cell {
      text-align:center;
      width:40em;
  }

  font-family: $base-font-family;
    .page-link {
      color: $grey-color-dark;
      &:hover{
        color: $brand-color;
      }
      &:active{
        color: $white-color;
      }
  }
}

.button.hollow {
  color:white;
  border-color: white;
  // border-radius: 6px;
  transition: color 0.25s, background 0.25s;
  &:active {
    background: rgba(red($brand-color), green($brand-color), blue($brand-color), 0.5);
  }
  &:hover{
      color:white;
      border-color: white;
  }
  font-size: 21px;
  // padding: 12px 18px;
}

// Quote

.quote-section {
  padding: 4em 0 2em 0;
}

.start-quote {
  background: $apostrophe-left;
  background-repeat: no-repeat;
  float:left;
  height: 1em;
  width: 1em;
}
.end-quote {
  background: $apostrophe-right;
  background-repeat: no-repeat;
  float: right;
  height: 1em;
  width: 1em;
}

// Circles

.circles-section {
  padding: 2em 0 2em 0;
  content-align: center;
}

.circles .photo {
  margin-bottom:0;
  text-align: center;
}

.circles .info {
  text-align: center;
  font-size: $small-font-size;
  color: $grey-color-light;
  padding-top: 2em;
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-bottom: 2em;
}

.circles .title {
  font-size: $large-font-size;
  color:$grey-color-dark;
}

.circles .read-more {
  padding-top: 1em;
  > a {
    font-size: $small-font-size;
    color:$blue-color;
  }
}

.box {
  padding-top: 20px;
}

// Case Studies

.casestudies-section {
  background-repeat: no-repeat;

  .section-header {
    background: $grey-color-ultralight;
  }

  .carousel-content {
    position: relative;
    transform: translateY(0);
    max-height: 390px;
    @include media-query($on-palm) {
      max-height: 420px;
    }
  }

  h3 {
    color:$blue-color;
  }

  .carousel-gradient-background {
    background: -moz-linear-gradient(top, $grey-color-ultralight 0%, rgba(red($grey-color-ultralight), green($grey-color-ultralight), blue($grey-color-ultralight), 0.5) 60%, rgb(255, 255, 255) 100%);
    background: -webkit-linear-gradient(top, $grey-color-ultralight 0%, $grey-color-ultralight 60%, rgb(255, 255, 255) 100%);
    background: linear-gradient(to bottom, $grey-color-ultralight 0%, $grey-color-ultralight 60%, rgb(255, 255, 255) 100%);
    width:100%;
    height: 390px;
    @include media-query($on-palm) {
        height: 390px;
    }
  }
}

.mobile-screen-img {
  float: left;
  @include media-query($on-palm) {
    float: none;
  }
}

// Portfolio Slider

.portfolio-section {
  padding-top: 2em;
}

@mixin center-vertically($pseudo-el: 'before') {
    position: relative;

    &:#{$pseudo-el} {
        content: '';
        position: relative;
        height: 100%;
        width: 0;
    }

    &:#{$pseudo-el},
    > * {
        vertical-align: middle;
        display: inline-block;
    }
}

@mixin justify($vertical-align: top, $childs: '*') {
  text-align: justify;
  text-justify: distribute-all-lines;
  line-height: 0;

  // clear inline-block spacing
  letter-spacing: -0.31em;

  &:after {
    content: '.';
    display: inline-block;
    height: 0!important;
    width: 100%;
    overflow: hidden!important;
    visibility: hidden;
    font-size: 0;
    word-spacing: 100%;
  }

  > #{unquote($childs)} {
    display: inline-block;
    vertical-align: $vertical-align;
    text-align: left;
    line-height: 1;

    // reset `inline-block spacing` trick
    letter-spacing: 0;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($args...) {
  -webkit-animation: $args;
  -moz-animation: $args;
  animation: $args;
}

@mixin transform($args...) {
  -webkit-transform: $args;
  -moz-transform: $args;
  transform: $args;
}

// MARQUEE

@include keyframes(loop) {
  0%   {
    @include transform( translateX(0) );
  }
  100% {
    @include transform( translateX(-(33.3% * 2)));
  }
}

.portfolio-slider  {
  position: relative;
  width: 100%;
  overflow: hidden;

  > ul {
    list-style: none;
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 300%!important;
    height:300px;
     @include transform(translate3d(0, 0, 0));
     @include animation(loop 50s linear infinite);
  }

  // > ul:hover {
  //   -moz-animation-play-state:paused;
  //   -webkit-animation-play-state:paused;
  //   animation-play-state:paused;
  // }

  > ul > li {
    @include center-vertically();
    @include justify(middle);

    float: left;
    width: 33.333333%;
    height:200px;
    overflow: hidden;

    img {
      margin: 20px 1.6%;
      height: 200px;
      width: 200px;
    }
  }
}

// Jobs

.jobs-section {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color:$jobs-color;
  font-size: $medium-font-size;
  text-align: center;
  text-transform: uppercase;
  color:$white-color;
  cursor: pointer;
}

// Footer
.footer-section {
  background-color: $footer-color;
  padding-top: 3.5em;
  padding-bottom: 2em;
  font-size: $base-font-size;
}

.footer-logo {
  margin-top: -16px;
  height:60px;
  content: $logo-footer;
}

.footer-description-title {
  padding-top: 0.3em;
  font-size: $large-font-size;
  color: $white-color;
}
.footer-description {
  font-size: $base-font-size;
  color: $grey-color-light;
}

.footer a:hover,.footer a:focus,.footer a.active {
 color: $white-color;
}
.footer h6 {
 margin: 0 0 1em;
 font-size: $medium-font-size;
 font-weight: 500;
 line-height: 16px;
 text-transform: none;
 color: $white-color;
}
.footer a{
  color: $grey-color-light;
}
.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: $base-font-size;
  padding-left: 0;
}
.footer ul li {
 margin-bottom: 5px;
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color-dark;
    font-weight: bold;
}

.post-link {
    display: block;
    font-size: $large-font-size;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: $medium-font-size;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.grid-view {
  * {
      box-sizing: border-box;
  }
  .header {
      border: 1px solid red;
      padding: 15px;
  }
  .menu {
      width: 25%;
      float: left;
      padding: 15px;
  }
  .main {
      width: 75%;
      float: left;
      padding: 15px;
      border: 1px solid red;
  }
}


/* ---- Flickity carousel custom settings ---- */

.flickity-prev-next-button {
  top: 40%;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: none;
}

.flickity-prev-next-button:hover {
  background: none;
  path {
    fill: $blue-color;
  }
}


.flickity-page-dots .dot {
  width: 15px;
  height: 15px;
  background: $grey-color-light;
  border-radius: 50%;
  opacity: 0.25;
}


// Banner

.banner-section{

  background: url("http://www.hdwallpapers.in/walls/abstract_color_background_picture_8016-wide.jpg") no-repeat;
  background-size: cover;
  // display: table;
  width: 100%;
  max-height: 550px;
  .content {
    // display: table-cell;
    text-align: left;
    padding-top:4em;
  }

  h1 {
    font-size: $giant-font-size;
    position: relative;
    color:$white-color;
    font-weight: 600;
    text-align: right;
    padding-bottom: 0.5em;
  }

  h2 {
    font-size: $large-font-size;
    position: relative;
    color:$white-color;
    font-weight: 500;
    text-align: right;
    padding-bottom: 1em;
  }

  h3 {
    font-size: $medium-font-size;
    color:$white-color;
    overflow:visible;
    max-height: 300px;
    text-align: right;
    // padding-bottom: 2em;
  }

  @include media-query($on-palm) {
    padding-top:0em;
    h1, h2 {
      text-align:center;
      padding-top:0em;
      padding-bottom:0em;
    }

    h3 {
      padding-top:2em;
    }

    .content {
      padding-top:0em;
    }
  }
}

.product1-section {

  padding-bottom: 3em;

  .list-icon {
      text-align: center;
  }

  .informative-wrapper {
    padding: 2em 0 2em 0;
  }

  .informative {
    text-align: right;
    padding: 2em 0 2em 0;
  }

  .gallery-wrapper {
    text-align: center;
    max-height: 550px;
    img {
      height: 50%;
      width: 50%;
    }
  }

  @include media-query($on-palm) {
    .content-wrapper {
      display:flex;
      flex-flow: column;
      padding-top: 2em;
    }
    .informative-wrapper {
      padding: 3em 3em 0 3em;
      order:2;
    }
    .informative{
      text-align: center;
      padding: 2em 0 0 0;
    }
    .gallery-wrapper {
      order:1;
      max-height: 400px;
      img {
        padding: 0.8em;
        height: 40%;
        width: 40%;
      }
    }
    .gallery-cell {
      bottom: 1em;
    }
  }
}


.product2-section {

  padding-bottom: 3em;

  .list-icon {
      text-align: center;
  }

  .paragraph-wrapper {
    padding: 2em 0 2em 0;
  }

  .informative-wrapper {
    padding: 2em 0 2em 0;
  }

  .informative {
    text-align: left;
    padding: 2em 0 2em 0;
  }

  .gallery-wrapper {
    text-align: center;
    max-height: 550px;
  }

  @include media-query($on-palm) {
    .content-wrapper {
      display:flex;
      flex-flow: column;
      padding-top: 2em;
    }
    .paragraph-wrapper {
      order:2;
      padding: 3em 3em 0 3em;
    }
    .informative-wrapper {
      padding: 0 3em;
      order:3;
    }
    .informative{
      text-align: center;
      padding: 2em 0 0 0;
    }
    .gallery-wrapper {
      text-align: center;
      order:1;
      max-height: 400px;
      img {
        padding: 0.8em;
        // height: 40%;
        // width: 40%;
      }
    }
    .gallery-cell {
      bottom: 1em;
    }
  }
}

.product3-section {

  padding-bottom: 3em;

  .list-icon {
    text-align: right;
    img{
      max-height: 200px;
    }
  }

  .informative-wrapper {
    padding: 2em 0 2em 0;
  }

  .informative {
    text-align: left;
    padding: 2em 0 2em 0;
  }

  @include media-query($on-palm) {
    .informative-wrapper {
      padding: 0 3em;
    }
    .informative{
      text-align: center;
      padding: 2em 0;
      display:flex;
      flex-flow: column;
    }
    .list-icon {
      text-align: center;
      order:1;
    }
    .descriptive {
      order: 2;
    }
  }
}




// Common Elements

.section-title {
  font-size: $giant-font-size;
  font-weight: lighter;
  color:$blue-color;
  text-align: center;
}

.quote-content {
  text-align: center;
  padding: 2em 0;
  h2 {
    font-size: 30px;
    font-weight: 300;
    color:$grey-color;
  }
}
