.banner-section{
  width: 100%;
  height: 440px;
  .content {
    text-align: left;
    padding-top:4em;
  }
  h1 {
    position: relative;
    color:$white-color;  //default color is white
    font-weight: 800;
    padding-bottom: 0.5em;
    font-size: 32px;
  }
  h2 {
    position: relative;
    color:$white-color; //default color is white
    font-weight: 300;
    padding-bottom: 1em;
    font-size: 32px;
  }
  h3 {
    font-size: $medium-font-size;
    color:$white-color;  //default color is white
    overflow:visible;
    max-height: 300px;
    // padding-bottom: 2em;
  }
  .content-centered {
    h1,h2,h3 {
    text-align: center;
    }
  }
  .content-right {
    h1,h2,h3 {
    text-align: left;
    }
  }
  .content-left {
    h1,h2,h3 {
    text-align: right;
    }
  }
  .banner-image {
    transform: translateY(-5%);
  }
  @include media-query($on-tablet) {
    height: 42vw;
    h1 {
      font-size: $large-font-size;
    }
    h2 {
      font-size: $large-font-size;
    }
    h3 {;
      font-size: $base-font-size;
    }
  }
  @include media-query($on-palm) {
    h1 {
      padding-top:2em;
    }
    padding-top:0em;
    height: auto;
    max-height: 240px;
    .content {
      padding-top:0em;
      // display:flex;
    }
    .content-left, .content-right, .content-centered {
      padding-top:2em;
      h1,h2,h3{
      text-align: center;
      padding-top:0.2em;
      padding-bottom:0em;
      }
    }
  }
}

.section-with-no-img {
  overflow: hidden;
  height: 440px;
  .content-with-no-img {
    max-height: 400px;
  }
  .content {
    text-align: left;
    padding-top:4em;
  }
  @include media-query($on-tablet) {
    height: 42vw;
  }
  @include media-query($on-palm) {
    height: auto;
    .content-with-no-img {
      max-height: auto;
    }
    .content {
      text-align: left;
      padding-top:0;
    }
  }
}
