.casestudies-section {
  background: $sample-background-image;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.10) 100%), $sample-background-image;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  .gallery-cell {
    height: 420px;
  }
  .carousel-content {
    text-align: right;
    position: relative;
    transform: translateY(0);
    height: 420px;
    img{
      height: 100%;
    }
    h6 {
      color:$grey-color;
    }
  }
  .carousel-background {
    // background: $grey-color-ultralight;
    width:100%;
    height: 420px;
  }
  .image {
    height:420px;
  }
  @include media-query($on-palm) {
    &:before {
      content: " ";
      display: block;
      height: 2em;
    }
    &:after {
      background: #fff;
      content: " ";
      display: block;
      height: 2em;
    }
    .carousel-content {
      height: 440px;
      text-align: center;
    }
  }
}
.mobile-screen-img {
  text-align: left;
  @include media-query($on-palm) {
    text-align: center;
  }
}
