.casestudies-section {
  background: $sample-background-image;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;
  .gallery-cell {
    height: 420px;
  }
  .section-header {
    // background: $grey-color-ultralight;
  }
  .carousel-content {
    text-align: right;
    position: relative;
    transform: translateY(0);
    height: 420px;
    img{
      height: 100%;
    }
    h3 {
      color:$blue-color;
    }
    @include media-query($on-palm) {
      height: 440px;
      text-align: center;
    }
  }
  .carousel-background {
    // background: $grey-color-ultralight;
    width:100%;
    height: 420px;
  }
  .image {
    height:420px;
  }
}
.mobile-screen-img {
  text-align: left;
  @include media-query($on-palm) {
    text-align: center;
  }
}
