.start-quote {
  background: $apostrophe-left;
  background-repeat: no-repeat;
  float:left;
  height: 1.2em;
  width: 1.2em;
}
.end-quote {
  background: $apostrophe-right;
  background-repeat: no-repeat;
  float: right;
  height: 1.2em;
  width: 1.2em;
}
