<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="draw-border">
    {% include header.html %}
    {% include carousel.html %}
    {% include circles.html %}
    {% include casestudies.html %}
    {% include quote.html %}
    {% include portfolio.html %}
    {% include jobs.html %}
    {% include footer.html %}
    {% include scripts.html %}

    <!-- <script>
                $(document).ready(function() {
                   $("#product-line-carousel").swiperight(function() {
                      $("#product-line-carousel").carousel('prev');
                    });
                   $("#product-line-carousel").swipeleft(function() {
                      $("#product-line-carousel").carousel('next');
                   });
                });
    </script> -->
  </body>

  <!-- <script>
  marqueeInit({
                 uniqueid: 'mycrawler2',
                 style: {

                 },
                 inc: 2, //speed - pixel increment for each iteration of this marquee's movement
                 mouse: 'pause', //mouseover behavior ('pause' 'cursor driven' or false)
                 moveatleast: 4,
                 neutral: 150,
                 savedirection: true,
                 random: false
              });
  </script> -->
</html>
